<div>
  <h1>Felhasználók</h1>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>Név</th>
        <th>Email</th>
        <th>Regisztráció dátuma</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= new Date(user.createdAt).toLocaleString('hu-HU', { year:'numeric',
          month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' }) %>
        </td>
        <td>
          <% if (user.isAdmin) { %>
            <button
              type="button"
              class="btn btn-warning"
              onclick="toggleAdmin('<%= user.id %>', false)"
            >
              Admin jog elvétele
            </button>
            <% } else { %>
            <button
              type="button"
              class="btn btn-success"
              onclick="toggleAdmin('<%= user.id %>', true)"
            >
              Admin jog adása
            </button>
            <% } %>
          <button
            type="submit"
            class="btn"
            onclick="usertorol('<%= user.id %>')"
          >
            Töröl
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
